@media (max-width: 1300px) {
  .skill_sec .copy-skill {
    flex-wrap: wrap;

    margin-left: 20px;

    text-align: center;
  }
  #slides {
    width: 100%;
  }
  .MY_SEC {
    margin: 0px;
  }
  .main-project {
    margin: 0px;
    width: 60%;
    margin: auto;
    z-index: 1;
    display: grid;
    grid-template-areas:
      "  one one one two two two    "
      " three three three foure foure foure ";
  }
  .main-project .for_zoom1 {
    width: 300px;
    margin: 10px;
  }
  .main-project .for_zoom2 {
    width: 300px;
    margin: 10px;
  }
  .main-project .for_zoom3 {
    width: 300px;
    margin: 10px;
  }
  .main-project .for_zoom4 {
    width: 300px;
    margin: 10px;
  }
  .for_zoom1 {
    grid-area: one;
  }
  .for_zoom2 {
    grid-area: two;
  }
  .for_zoom3 {
    grid-area: three;
  }
  .for_zoom4 {
    grid-area: foure;
  }

  /* contact */
  .contact-flex {
    /* display: flex; */
    width: 70%;
    margin: auto;
    justify-content: space-around;
  }
  .contact-bord {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .contact-flex {
    margin-top: 50px;
  }
}
@media (max-width: 1080px) {
 

  .contact-flex {
    /* display: flex; */
    width: 80%;
    margin: auto;
    justify-content: space-around;
  }
  .contact-flex {
    margin-top: 50px;
  }
  .contact .contact-space {
    width: 80%;
    /* margin-top: 100px; */
  }
  .para1 {
    width: 500px;
  }
  .Service-sec {
    margin-bottom: 100px;
  }
  .maincon{
    display: none;
  }
}
@media (max-width: 850px) {
  .main-project {
    flex-wrap: wrap;
    display: flex;
  }
  .contact-flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 100px;
    padding-bottom: 0px;
    /* height: 600px; */
    /* justify-content: space-between; */
  }
  .mainpara .r2 {
    font-size: 20px;
    width: 80%;
  }
  .contact-bord {
    height: 1px;
    width: 300px;
  }
  .contact-flex {
    margin-top: 50px;
    margin-bottom: 0px;
  }
  .skill_sec .copy-skill {
    padding: 0px;
    margin-left: 85px;
  }

  .contact-name img {
    width: 60px;
    height: 60px;
  }
  .para1 h3 {
    justify-content: center;
    display: flex;
  }
  slides
  /* .main4 {
    display: none;
  } */
  .sec3 {
    margin-left: 20px;
    width: 80%;
    /* padding-left: 0px; */
    padding-top: 0px;
  }
  .sec3 p {
    font-size: 27px;
    margin-left: 0px;
  }
  .para h1 {
    font-size: 60px;
  }
  .headingforname h1 {
    font-size: 60px;
  }
  .div7 {
    flex-direction: column-reverse;
  }
  .div6 {
    width: 100%;
    justify-content: space-around;
    display: flex;
  }
  .div6 img {
    width: 350px;
    height: 350px;
    margin-left: 0px;

    justify-content: center;
  }
  .sec4 {
    width: 90%;
    padding: 0%;
  }
  .about-para {
    justify-content: space-around;
    width: 90%;
    display: flex;
  }
  .about-para #id2 {
    justify-content: space-around;
    width: 600px;
  }
  .div7 .about-para {
    margin-left: 40px;
  }
  .aboutme {
    margin-top: 0px;
    padding-top: 20px;
  }
  .para1 {
    width: 100%;
    flex-wrap: wrap;
    display: flex;
  }
  .para1 h3 {
    display: none;
  }
  .Service-sec .service-div {
    margin-top: 50px;
  }
  .Service-sec {
    margin-bottom: 100px;
  }

  .mainpara .r2 {
    width: fit-content;
  }
  #id2 {
    font-size: 22px;
  }
  #inp1 {
    width: 118%;
    display: block;
  }
  #inp3 {
    width: 118%;
    display: block;
  }
  .input-flex {
    justify-content: space-between;
    width: 77%;
    flex-direction: column;
    flex-wrap: wrap;
  }
  #inp4 {
    width: 89%;
  }
  #inp5 {
    width: 89.5%;
  }
  .para1 button {
    width: 93%;
  }
  .contact-space p {
    font-size: 20px;
  }
  .for_back{
    padding-bottom: 50px;
  }
  /* email and icons */
  .sec2{
    display: none;
  }
  .sec1{
    display: none;
  }
  .contacticons i{
    color: white;
  }
  .div1  {
    display: flex;
    justify-content: center;
  }
  .div1 i {
    margin-right: 20px;
    margin-top: 30px;
  }
  .emailcontact{
    display: flex;
    justify-content: center;
    font-size: 20px;
    color: white;
    text-decoration: none;
  }
  .emailcontact a{
    color: white;
    margin-right: 30px;
  }
  .maincon{
    display: block;
  }

}

@media (max-width: 600px) {
  .skill_sec {
    /* width: 90%; */
    padding-bottom: 20px;
    padding-right: 0px;
    margin-right: 0px;
  }
  .skill_sec .copy-skill {
    width: 100%;
    margin-left: 0px;
  }
  .copy-skill .skill-left {
    width: 400px;
    margin-top: 50px;
  }
  .Service-sec {
    margin-bottom: 100px;
  }
  .Service-sec .service-div {
    margin-top: 50px;
  }

  .copy-skill .skill-right {
    width: 400px;
  }
  .skill-right .back-clr {
    width: 400px;
  }
  .skill-left .back-clr {
    width: 400px;
  }
  .sec3 {
    margin-right: 0px;
    padding-right: 0px;
  }

  
  .div2 {
    display: none;
    /* top: 5050px ; */
  }
  .contact-flex {
    margin-top: 50px;
  }


  .div6 img {
    width: 250px;
    height: 250px;
    margin-left: 0px;

    justify-content: center;
  }
}


@media (max-width: 500px) {
  .copy-skill .skill-right {
    width: 300px;
  }
  .copy-skill .skill-left {
    width: 300px;
    margin-top: 50px;
  }
  .copy-skill .skill-right {
    width: 300px;
  }
  .skill-left .back-clr {
    width: 300px;
  }
  .skill-right .back-clr {
    width: 300px;
  }

  .main-project {
    width: 350px;
    /* margin: 0px; */
  }
  .div7 .about-para {
    margin-left: 10px;
  }
  .contact-space {
    width: 100%;
  }
  .para h1 {
    font-size: 40px;
  }
  .paraforhii p {
    font-size: 20px;
  }
  .headingforname h1 {
    font-size: 45px;
  }
  .sec3 {
    padding-left: 10px;
  }
  #id12 {
    padding-top: 50px;
  }
  .Service-sec .servic-heding {
    padding-top: 50px;
  }
  .mainpara p {
    font-size: 20px;
  }



  .para h1 {
    font-size: 45px;
  }
  .headingforname h1 {
    margin-top: 10px;
    font-size: 55px;
  }
  /* #slides .transform{
    width: 300px;
  }
  #slides #my-servicess{
    width: 300px;
    margin: none;

  } 
  .Service-sec{
    max-width: 420px;
  }
  #slides{
    max-width: 370px;
    overflow: hidden;
    margin: none;
  } */
 
 .service-div {
    /* width: 370px; */
    max-width: 370px;
    margin-left: 20px;
    overflow: hidden;
  } 
  .service-div  #slides  #my-servicess {
    margin-left: 0px;
 } 
 
.service-div  #slides .transform{
  width: 350px;
}
 .service-div  #slides .transform p{
  width: 300px;
  margin-left: 20px;
}

form #inp4{
  width: 88%;
  }
  form #inp5{
    width: 89%;
    }
    form .butoon-last{
      width: 95%;
    }

}
@media (maz-width:900px) {
  .service-div{
      display: none;
  }
  .main_slider{
      display:  inline-block;
  }
}


@media (max-width:400px){
  /* .service-div #slides{
    width: 370px;
    margin-left: 0px;
    padding-left: 0px;
    margin: none;
  }*/
   .service-div  #slides  #my-servicess {
    margin-left: 0px;
 } 
  
 
  .service-div  #slides .transform p{
    width: 300px;
    margin-left: 0px;
  }
  .Service-sec .service-div #slides .my-service3 p   {

  margin-left: 20px;

}
 form #inp4{
width: 87%;
}
form #inp5{
  width: 88%;
  }
  form .butoon-last{
    width: 95%;
  }


}