@media (max-width:1300px) {
    .skill_sec .copy-skill{
        flex-wrap: wrap;
        /* padding:60px 60px 0px ; */
        margin-left: 20px;
        /* margin: 0px; */
        text-align: center;
    }
    .MY_SEC{
        margin: 0px;
    }
    .main-project{
        flex-wrap: wrap;
        justify-content: space-between;
        width: 65%;
    }
   
    .main-project .for_zoom{
        width: 300px;
    }
    .contact-flex{
        width: 80%;
    }


}
@media (max-width:1200px){
    .main-project{
        flex-wrap: wrap;
        justify-content: space-between;
        width: 80%;
    }
    

}