html{
    scroll-behavior: smooth;
}

body{
    background-color:#1262da;
    background-color:#a6b2c6;
    margin: 0px;
    padding: 150px;
    
} 
.para{
    color:rgb(7, 13, 35);
    
}
.headingforname{
    position: relative;
}
.headingforname{
    
    color:rgb(0, 4, 16);
    
}
.paraforhii{
    color:rgb(20, 16, 16);
    margin-left: 5px;
}
.mainpara{
    color: #1d1f26;
    
}
#id1{
    color: #01040c;
}

.spanbar{
    color: #131514;
    margin-right: 20px;
    font-size: 12px;
    position: relative;
    right: 2px;
    top: 3px;
}
.num2{
    color: #101110;
    position: relative;
    left: 300px;
    top: 59px;
}





/* ancortag */

.main{
    display: flex;
    justify-content: space-between;
    margin-left: 4% ;
    margin-right: 4% ;
    
    /* position: absolute; */
    width: 90%;
}
ol,li{
    display: flex;
    padding: 10px;
    padding-top: 10px;
    margin-top: 10px;    
}
.ancortag{
    color: #01050e;
    text-decoration: none;
    cursor: pointer;
         
}
ol{
    margin: 0px;
    padding: 0px;
    
}
body{
    margin-top:  0px;
    padding: 0px;
}
 .div3 #id1{
    padding: 10px;
    text-decoration: none;
    color: black;
}

.img1 img{
    width: 75px;
    height: 70px;
    position: relative;
    top: 2px;
}
.main4{
    display: flex;
}
.main3{
    padding: 10px;
    height: 20px;
}
.main3, a{
    margin-left: -10px;

}
#button1{
    padding: 10px;
    background-color: #a6b2c6;
    color: #000e0b;
    


    
    
    /* border: 1px solid black; */
    
    width: 80px;
    /* background-color:#112240; */
    /* color:#00120e; */
    /* border: #64ffda 1px solid; */
    
}
.main{
    top: 0px;
}

/* left icons property */

.div1 img{
    width: 25px;
    height:  25px;
    display: flex;
    

}
.sec1{
    position: fixed;
    bottom: 130px;
    display: flex;
    z-index: 1;
    
    margin: 20px;    
}
.img5{
    z-index: -1;
    position: absolute;
}
.div1 :hover {
    transform: translatey(-10px);
    transition: ease-in-out;
    transition: 0.5s;

}

.div2 {
    border: 1px solid #00040e;
    position: fixed;
    bottom: 10px;
    left: 40px;
    height: 120px;
}
/* gmail */
.sec2{
    position:fixed;
    right: 20px;
    font-size: 15px;
    
    bottom: 130px;
    writing-mode: vertical-lr;
}


.div3{
    
    position: absolute;
    bottom: 10px;
    right: 8px;
    text-decoration: none;
    list-style-type: none;
    
}

.div4{
    border: 1px solid #00030a;
    position: fixed;
    bottom: 10px;
    height: 130px;
    right: 40px;
}
.aboutme{
    color: rgb(1, 4, 16);
    font-size: 32px;
    font-family: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
    position: relative;
    bottom: -4px;
    left: 30px;
    margin-left: 10px;

}



.sec3{
    position: relative;
    justify-content: left;
    text-align: left;
    margin-left: 7vw;
    padding-left: 8vw;
    top: 150px;  
}
.paraforhii p{
    margin-left: 15px;
    margin-bottom: 10px;
}
.sec3 h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3em;
    margin: 0px;
   
    
}
.r2{
    font-size: 2vw
}

.sec3 p{
    font-size: 20px;
    
}

.hireme{
    padding: 10px;
    width: 100px;
    color: #021410;
    background-color: #a6b2c6;
    border: 2px solid #000e0b;
    cursor: pointer;


}


/* about property */

.sec4{
    padding: 150px;
    margin-left: 10vw;
    margin-right: 10vw;
    padding-top: 100px;
}
.num1{
    color: #010907;
    font-size: 20px;
    position: relative;
    top: 69px;
    margin-right: 10px;
}

.div5{
    border: 1px solid #000103;
    position:relative;
    right: -200px;
    top: -40px;    
    width: 25vw;
}
.div6 img{
    width: 15vw;
    height: 15vw;
    margin-left: 30px;
    border-radius: 10px;
    z-index: 1;

    background-color: rgb(247, 254, 254);
    /* mix-blend-mode: color-dodge; */
    
}

.div8{
    border: 2px solid black;
    padding: 99px;
    height: 5px;
    position: absolute;
    right: 289px;
    top: 890px;
    z-index: -1;
    border-radius: 10px;


}
.div8:hover{
    top:875px ;
    right:304px ;
    background-color: red;

}
.div7{
    display: flex;
}

#id2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: #01050f;
}
#id3{
    position: absolute;
    width: 50px;
    left: 500px;
    top: 810px;
    transition: ease-in-out;
    
}
#id3:hover{
    transform: translateY(-100px);
    transition: 1s;
    

}
#id4{
    position: absolute;
    width: 50px;
    left: 600px;
    top: 822px;

}


/* SKILL BAR */
.sec6{
    margin: 0px ;
    padding: 0px ;
    box-sizing: border-box;
     font-family: sans-serif ;
     min-height: 700px;
     align-items: center; 
     color: aliceblue;
    
}


.headingskill{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 380px;
    font-size: 30PX;
}

.skills{
    width: 80%;
    max-width: 450px;
    padding: .5vw;
    margin: auto;

    
}
.skills-main{
    /* margin-bottom: -100px; */
    position: relative;
    top: -1400px;
    left: -60px;

}
.skill-name{
    font-size: 18px;
    font-weight: 600px;
    color: rgb(18, 0, 0);

    text-align: center;
}
.skill-bar{
    height: 20px;
    background-color:rgb(252, 248, 248);
    border-radius: 3px;
}
.skill-per{
    
    /* background-color:#000706; */
    border-radius: 3px;
    position: relative;
    animation: fillbars 2.5s 1;
}
/* .skill-per::before{
    content: attr(per);
    padding: 4px 6px ;
    background-color: white;
    border-radius: 4px;
    font-size: 12px;
    top: -35px;
    color: black;
    right: 0;
    transform: translateX(50%);
    position: absolute;
}
.skill-per::after{
    position: absolute;
    width: 10px;
    height: 10px;
    background: #f1f1f1;
    top: -20px;
    right: 0;
    transform: translateX(50%) rotate(45deg);
    border-radius: 2px;
} */
/* @keyframes fillbars{ 
    from{
        width: 0;

    }
    to{
        width: 100%
    }

} */

.num2{
    font-size: 20px;
    display: inline;
    margin-left:35px;
}
.divborder{
    border: 1px solid #0f0f10;
    position:relative;
    left:450px;
    bottom: 40px;
    width: 400px;
}
.div1{
    margin-left: 7px;
}



/* responsive font size */
.para{
    font-size: 29px;
}
.headingforname{
    font-size: 29px;
}
.paraforhii p{
    font-size: 20px;
}
@media and screen only (max-width:1000){
   
    #connect{
        width: 800px;
        text-align: center;
    }

}

@media (max-width:900px) and (min-width:780px) { 
    .para{
        font-size: 3vw;
    }
    .headingforname{
        font-size: 3vw;
    }
    .paraforhii p{
        font-size: 2vw;
    }

}
@media (max-width:780px){

  
  
  
  
    ol li , .main3{
        display: none;
    }
    .div2{
        display: none;
    }
     .sec1 {
        position: absolute;
        bottom: -1850px;
        margin-left: 25vw;
        
    }
    .div1 {
        width: 400px;
        display: flex;
        text-align: center;
        justify-content: center;
        margin-left: ;
        display: none;
    }
    .div1 img{
        margin: 20px;
        width: 50px;
        height: 50px;
       
    }
    .sec2{
        display: none;
    }
    #id2{
        font-size: 2vw;
        width: 300px;
    }
    .div5{
        display: none;
        
    }
    .num1{font-size: 3vw;}
    .para{
        font-size: 20px;
    }
    .headingforname{
        font-size: 20px;
    }
    .paraforhii p{
        font-size:20px;
        margin-left: 5px;
        margin-bottom: -5px;

    }
    .mainpara {
        font-size: 50px;
    }
    #connect{
        margin-left: 0px;
    }
    /* .sec6{
        align-items: center;
    } */
    .divborder{
        display: none;

    }
   
    /* .sec6 .skills{
        margin: 0px 0px 0px 50px;
        padding: 0px 0px 0px 50px;
        
    } */
    /* .num2{
        margin-left:-200px;
    } */
    /* .headingskill{
        margin-left: 150px;
        margin-top:23px;
        font-size: 30px;

    } */
    .sec4{
        padding-left: 90px;
    }
    


}
@media(max-width:520px){


}